<button (click)="createBucket()">Create New Bucket</button>

<section class="bucket-gallery">
    @for (bucket of valuesService.userBuckets(); track bucket.id) {
        <div class="bucket">
            <button (click)="openBucketDialogue(bucket.id)">edit bucket: {{bucket.id}}</button>
            <button (click)="addValueToBucket(currentValue(), bucket)">add value</button>
        </div>
    }

</section>

<section class="bottom-row">
    <p>{{currentValue().value}}</p>
    <button (click)="trashCurrentWord()">Trash</button>
    @if (isFinished()) {
        <button (click)="proceedToNextStep()">Proceed</button>
    }
</section>
