@if(buckets().length < 8) {
    <button (click)="createBucket()">Create New Bucket</button>
}

<section class="bucket-gallery" cdkDropListGroup>

    <div cdkDropList class="curr-value-holder">
        <p cdkDrag class="curr-value" [cdkDragData]="currentValue()">{{currentValue().value}}</p>
    </div>
    @for (bucket of buckets(); track bucket.id) {
        <div 
            cdkDropList
            class="bucket"
            [cdkDropListData]="bucket" 
            (cdkDropListDropped)="drop($event)"
            (click)="openBucketDialogue(bucket)">
            <button (click)="addValueToBucket(currentValue(), bucket)" >add value</button>
        </div>
    }


</section>

<section class="bottom-row">
    @if (!isFinished()) {
        <button (click)="trashCurrentWord()">Trash</button>
    }
    @else {
        <button (click)="proceedToNextStep()">Proceed</button>
    }
</section>
