<main class="main-content">
  
  <section class="bucket-gallery">
    @for (bucket of buckets(); track bucket.id) {
      <div class="bucket">
        <button (click)="addValueToBucket(currentValue(), bucket)" >
          <app-bucket [bucketId]="bucket.id"></app-bucket>
        </button>
        <button class="edit-bucket" mat-icon-button (click)="openBucketDialogue(bucket)">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    }
    
  </section>
  
  
  <section class="bottom-row">
    <button mat-fab (click)="createBucket()" class="create-bucket fab" [disabled]="buckets().length >= 8">
      <mat-icon>add</mat-icon>
    </button>

    @if (!isFinished()) {
      <div class="value-card">
        <p class="curr-value brand-font">{{currentValue().value}}</p>
      </div>

      <button mat-fab aria-label="Trash current word button" (click)="trashCurrentWord()" class="trash-button fab">
        <mat-icon>delete</mat-icon>
      </button>
    }
    @else {
      <button (click)="proceedToNextStep()" class="proceed-button">Next Step</button>
    }   
      
  </section>
</main>

