.bucket-gallery {
  flex: 9;
  margin-top: 20px;
  margin-bottom: 5px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;

  .bucket {
    padding: 10px;
    background-color: black;
    border-radius: 5px;

    button{
      background-color: inherit;
      border: none;
    }
    button:hover{
      cursor: pointer;
    }

    .edit-bucket{
      color: var(--grey-color);
      float: right;
    }
  }
}


.bottom-row{
  flex: 3;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  gap: 5px;

  .value-card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    border-radius: 20px;
    box-shadow: 0px 12px 12px 0px var(--dropshadow-color);
    
    width: 50vw;
    max-width: 500px;
    
    margin-bottom: 20px;    
    background-color: var(--secondary-color);
    
    container-type: size;
    .curr-value{
      font-size: 8.5cqw;
    }
  }

  button:hover{
    cursor: pointer;
  }
  .fab{
    width: 20vw;
    height: 100px;
    max-width: 200px;
    color: black;
    background-color: var(--accent-color);
    
    mat-icon{
      min-width: 45px;
      min-height: 45px;
      font-size: 45px;
    }
  }
  .proceed-button{
    border: none;
    background-color: transparent;
    padding: 10px;

    font-size: 2.5rem;

    background-color: black;
    color: var(--primary-color);
    border-radius: 15px;
  }
}