<main class="main-content">
  
  <section class="bucket-gallery">
    @for (bucket of buckets(); track bucket.id) {
      <div class="bucket">
        <button (click)="addValueToBucket(currentValue(), bucket)" >add value</button>
        <button (click)="openBucketDialogue(bucket)">edit bucket</button>
      </div>
    }
    
  </section>
  
  
  <section class="bottom-row">
    <button mat-raised-button (click)="createBucket()" class="create-bucket" [disabled]="buckets().length >= 8">
      <p class="new-bucket-text">Create New Bucket</p>
    </button>

    @if (!isFinished()) {
      <div class="value-card">
        <p class="curr-value playfair-display">{{currentValue().value}}</p>
      </div>

      <button (click)="trashCurrentWord()" class="trash-button">Trash</button>
    }
    @else {
      <button (click)="proceedToNextStep()" class="proceed-button">Next Step</button>
    }   
      
  </section>
</main>

