.bucket-val {
  display: flex;
  align-items: center;
  gap: 10px;

  .trash-value {
    color: black;
    background-color: var(--accent-color);
    border: none;
  }
}

.name-input {
  font-size: 20px;
}
