<div class="main-content">
  <header class="header">
    <h1 class="title">About</h1>
  </header>

  <div class="about-text">
    <p>Hello! My name is Jonah Thurston, I'm the programmer behind this site. Thanks for checkin it out!</p>
    <p>I made this site for my mom's business. And she even paid me for it, soooo that basically real live freelance work, right?</p>
    <p>It's not quite all the way done. Still waiting on a little bit of input from the client. But all the main functionality is there!</p>
    <p>The goal of this site is to help users find the 3 values that resonate with them the most. It should only take 15-20 ish minutes.</p>
    <p>I am pretty proud of it. It's made in Angular which is really awesome. And I completely taught it to myself!</p>
    <p>
        Feel free to check out the code in the
        <a href="https://github.com/JonahThurston/core-values"
            target="_blank"
            rel="noopener noreferrer"
            title="Open the github repo ">
            GitHub
            </a>
         if you want! Although I'll be the first to admit that its real messy, as might be expected from a first Angular app haha.
    </p>
  </div>

  <button routerLink="/" class="start-button">To home page</button>
</div>

