<body>
    <div class="top-info">
        <p class="percent-box">{{getTrashedPercent()}}%</p>
        <app-timer></app-timer>
    </div>

    <div>
        {{getCurrentWord()}}
    </div>

    <div>
        <button class="left-arrow" (click)="valDecideTrash(true)">
            placeholder for left arrow
        </button>
        <button class="right-arrow" (click)="valDecideTrash(false)">
            placeholder for right arrow
        </button>
    </div>

    <p>{{valueIndex + 1}} / {{valuesService.getValsLength()}}</p>

    <button (click)="undoDecision()">undo button</button>
</body>