<section class="top-bar">
    <button class="iBall" (click)="openInstructions()">help</button>
    <app-timer></app-timer>
</section>

<section class="step-container">
    @switch (stepNumber()) {
        @case (1) {
            <app-step-one [(stepNumber)]="stepNumber"></app-step-one>
        }
        @case (2) {
            <app-step-two></app-step-two>
        }
        @case (3) {}
        @case (4) {}
        @default {
            <app-step-one [(stepNumber)]="stepNumber"></app-step-one>
        }
    }
</section>