<div class="main-content">
  <header class="header">
    <h1 class="title">Core Values</h1>
  </header>

  <div class="vertical-podium">
    <div class="podium-slot first-place">
      <span class="medal">🥇</span>
      <div class="name playfair-display">{{allBuckets().at(0)?.name}}</div>
    </div>

    <div class="podium-slot second-place">
      <span class="medal">🥈</span>
      <div class="name playfair-display">{{allBuckets().at(1)?.name}}</div>
    </div>

    <div class="podium-slot third-place">
      <span class="medal">🥉</span>
      <div class="name playfair-display">{{allBuckets().at(2)?.name}}</div>
    </div>
  </div>
</div>
