<div class="main-content">
  <header class="header">
    <h1 class="title brand-font">Core Values</h1>
  </header>

  <div class="video-wrapper">
    <iframe class="closing-video" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=4LZ62x6e5DFLvTr_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <div class="vertical-podium">
    <div class="podium-slot first-place">
      <div class="brand-font">{{allBuckets().at(0)?.name}}</div>
    </div>

    <div class="podium-slot second-place">
      <div class="brand-font">{{allBuckets().at(1)?.name}}</div>
    </div>

    <div class="podium-slot third-place">
      <div class="brand-font">{{allBuckets().at(2)?.name}}</div>
    </div>
  </div>

  <img class="home-logo" src="/pictures/lat-logo-teal.png" alt="teal Latitude brand logo">
</div>
