<main class="main-content">
    <div class="trashcan">
        <p class="percent-box">{{getTrashedPercent()}}%</p>
    </div>



    <div class="value-card brand-font" [class]="randomColor()">
      <div class="current-value">
        {{getCurrentWord()}}
      </div>
    </div>

    <div class="decision-buttons">
        @if (isFinished) {
          <button (click)="openReview()" class="proceed-button">Proceed to next step</button>
        }
        @else {
        <button class="left-arrow brand-font" (click)="valDecideTrash(true)">
          Trash
        </button>
        <button class="right-arrow brand-font" (click)="valDecideTrash(false)">
          Keep
        </button>
        }
    </div>

    @if (!isFinished) {
      <p class="progress">Current Value: {{valueIndex + 1}} / {{valuesService.getValsLength()}}</p>
    }

    <img (click)="undoDecision()" class="undo-button" src="/pictures/Undo.svg" alt="">

</main>