<div class="step-template">
  @if (stepNumber() < 5) {
    <header class="header">
        <button mat-fab class="iBall" (click)="openInstructions()">
          <img src="/pictures/brand-q-icon.PNG" alt="">
        </button>
        <app-timer class="timer"></app-timer>
    </header>
  }
  
  <section class="step-displayer">
      @switch (stepNumber()) {
          @case (1) {
              <app-step-one [(stepNumber)]="stepNumber"></app-step-one>
          }
          @case (2) {
              <app-step-two [(stepNumber)]="stepNumber"></app-step-two>
          }
          @case (3) {
              <app-step-three [(stepNumber)]="stepNumber"></app-step-three>
          }
          @case (4) {
              <app-step-four [(stepNumber)]="stepNumber"></app-step-four>
          }
          @case (5) {
              <app-podium></app-podium>
          }
          @default {
              <app-step-one [(stepNumber)]="stepNumber"></app-step-one>
          }
      }
  </section>
</div>