.step-template{
  display: flex;
  flex-direction: column;
  height: inherit;

  .header{
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .iBall{
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-left: 10px;

      font-size: x-large;
      font-weight: 900;
      color: black;
    }

    .timer{
      margin-right: 10px;
    }
  }

  .step-displayer{
    flex: 11;

    *{
      display: block;
      height: 100%;
    }
  }
}


