.step-template{
  display: flex;
  flex-direction: column;
  height: inherit;

  .header{
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .iBall{
      margin-left: 10px;

      background-color: transparent;
      border: none;
    }

    .timer{
      margin-right: 10px;
    }
  }

  .step-displayer{
    flex: 11;

    *{
      display: block;
      height: 100%;
    }
  }
}


