<h2>Step {{stepNumber()}}</h2>
<mat-dialog-content>
    @switch (stepNumber()) {
        @case (1) {
            <app-step-one-instructions></app-step-one-instructions>
        }
        @case (2) {
            <app-step-two-instructions></app-step-two-instructions>
        }
        @case (3) {}
        @case (4) {}
        @default {
            <app-step-one-instructions></app-step-one-instructions>
        }
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Begin</button>
</mat-dialog-actions>
