<ul>
    <li>Drag to rrange bucket names in order of resonance.</li>
    <li>The most resonant, the one that creates the biggest feelings of alignment, should be at the top. The the second most resonant should be second from the top, and so on.</li>
</ul>
<h2>FAQ</h2>
<ul>
    <li>What if the value resonates with me professionally but not as much in my personal life?</li>
    <li>Imagine if you got a greate job offer, with the money and schedule you want, but absolutely none of that value. Zero. Could you still take the job?</li>
    <li>If you wouldn't take the job, the value does resonate.</li>
</ul>
