/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #139ba5;
  --secondary-color: #fcce0e;
  --dropshadow-color: rgb(70, 57, 57);
}
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--primary-color);
  
  overflow: hidden;
}

@font-face {
  font-family: 'segment-eglas';
  src: url(assets/fonts/clock-font/segment-eglas.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

app-root{
  height: inherit;
}

app-step-template{
  display: block;
  height: inherit;
}

.header{
  background-color: var(--secondary-color);
  width: 100vw;
  box-shadow: 0px 12px 12px 0px var(--dropshadow-color);
  
  .title{
    justify-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
}

.dialogue{
  background-color: var(--secondary-color);

  .dialogue-title{
    justify-self: center;
    margin: 10px;
  }

  .dialogue-buttons{
    justify-self: center;

    button{
      background-color: black;
      color: var(--secondary-color);

      border: none;
      padding: 10px;
      border-radius: 10px;

      font-size: 20px;

      cursor: pointer;
      transition: opacity 0.3s ease;
    }
    button:hover {
      opacity: 0.5; /* Opacity on hover (50% transparent) */
    }
  }
}
