<div class="main-content">
  <header class="header">
    <h1 class="title brand-font">Core Values</h1>
  </header>

  <ul class="explanation-text">
    <li>Uncover the core values that genuinely resonate with you</li>
    <li>Rapidly sort through words based on gut instinct — not logic.</li>
    <li>Keep what feels right, toss what doesn't.</li>
  </ul>

  <div class="button-container">
    <button routerLink="exercise" class="start-button">Start Exercise</button>
  </div>

  <img class="home-logo" src="/pictures/lat-logo-teal.png" alt="teal Latitude brand logo">
</div>
